@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

:root {
  --color-black: rgba(0, 0, 0);
  --color-white: rgba(252, 254, 235);
  --color-peridot: rgba(218, 238, 0);
  --margin-top: 6rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #ff99b4;
  background-image: url(/assets/mesh-276.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  backdrop-filter: blur(30px);
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-family: 'Satoshi', sans-serif;
  background-color: rgba(218, 238, 0, 0.1);
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  margin-block-start: 0.375rem;
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* --------------------- END OF RESET ----------------------- */

/* --------------------- UTILITIES   ----------------------- */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex[data-align='center'] {
  align-items: center;
}

.flex[data-justify='space-between'] {
  justify-content: space-between;
}

.flex[data-align='end'] {
  align-items: flex-end;
}

.container {
  margin-inline: auto;
  width: clamp(300px, 90%, 1400px);
}

.section-title {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
  font-weight: 800;
  line-height: 1;
}

.flow > * + * {
  margin-block-start: var(--margin-top);
}

/* -------------------------------------------- AUTH ------------------------------------------------ */
.auth {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* gap: 1.5rem; */
  /* padding: 1rem; */
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);

  /* height: 100vh; */
  /* max-width: 100rem; */
  margin-inline: auto;

  border-radius: 2rem;
  overflow: hidden;
  border: rgba(255, 255, 255, 0.1) 2px solid;
}

.auth__left {
  position: relative;
  min-height: calc(100vh - 5rem);
  /* border-radius: 0.5rem; */
  grid-column: 1 / 8;
  background-image: url(/assets/protest-picture.png);
  background-repeat: no-repeat;
  background-position-y: 65%;
  background-size: cover;
  color: var(--color-white);
  padding: 3rem;
}

.auth__left::before {
  position: absolute;
  content: '';
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.25) 65%);
}

.auth__left-content {
  position: relative;
  --margin-top: 1.25rem;
}

.auth__left-content h3 {
  line-height: 1;
  font-size: 1.65rem;
  font-weight: bold;
}

.auth__left-content p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 450;
}

.auth__left-cta svg {
  width: 3rem;
}

.btn-learn-more {
  line-height: 1;
  vertical-align: bottom;
  padding: 0.5rem 1rem;
  border: var(--color-white) 1px solid;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.btn-learn-more svg {
  display: inline-block;
  margin-inline-start: 0.25em;
  height: 1em;
  width: 1em;
  vertical-align: bottom;
}

.auth__right {
  /* height: 100%; */
  position: relative;
  grid-column: 8 / -1;
  align-items: center;
  justify-content: center;
}

.form {
  width: 60%;
  --margin-top: 1.75rem;
}

.form__title {
  font-size: 2rem;
  line-height: 1;
  font-weight: 800;
}

.form__title svg {
  width: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.form__sub-title {
  color: rgba(0, 0, 0, 0.75);
  display: block;
  margin-block-start: 0.5rem;
  font-size: 0.875rem;
}

/* label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
  width: fit-content;
} */

.form__inputs-container > * + * {
  margin-block-start: 1.5rem;
}

.input-container {
  position: relative;
}

.input-warning {
  position: absolute;
  height: 1.5rem;
  right: 0.5rem;
  top: 1.125rem;
  opacity: 0;
  pointer-events: none;
}

.input-container input:not([type='submit']):invalid + .input-warning {
  opacity: 1;
}

.input-container input:not([type='submit']) {
  position: relative;
  background-color: transparent;
  border: rgba(69, 69, 69, 0.35) 2px solid;
  border-radius: 0.65rem;
  font-size: 0.875rem;
}

.input-container input[type='submit'] {
  background-color: var(--color-peridot);
  border: 2px black solid;
  cursor: pointer;
  font-weight: 600;
}

.input-container input:not([type='submit']):invalid {
  border: rgba(255, 0, 0, 0.7) 2px solid;
  outline: 5px rgba(255, 0, 0, 0.2) solid;
}

.input-container input:not([type='submit']):not(:invalid):focus {
  border: black 2px solid;
  outline: rgba(218, 238, 0, 0.5) 5px solid;
}

.input-container input[type='submit']:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.form__question-container p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875rem;
  text-align: center;
}

.form__question-container a {
  color: var(--color-black);
  font-weight: 700;
}

.form__question-container a:hover {
  text-decoration: underline;
}

.error-msg {
  line-height: 1.2;
  margin-top: 0.425rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.7);
}

/* --------------------------------------------- RESPONSIVE ----------------------------------------- */

@media only screen and (max-width: 86rem) {
  .form {
    --margin-top: 1.5rem;
  }

  .form__inputs-container > * + * {
    margin-block-start: 1rem;
  }
}
@media only screen and (max-width: 45rem) {
  :root {
    --margin-top: 3rem;
  }

  html {
    scroll-padding-top: 20rem;
  }

  .desktop {
    display: none;
  }

  .hamburger-menu,
  .menu-mobile {
    display: flex;
  }

  .hero {
    --margin-top: 2rem;
  }

  .hero-images-container {
    gap: 1rem;
  }

  .hero h1 {
    text-align: justify;
  }
}
